body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', Arial, sans-serif;
  /*text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); /* Adjust values as needed */
   /* Add text color */
   color: #000000; /* You can change the color to suit your design */

   /* Add dramatic shadow to simulate floating effect */
   text-shadow: 0 0 10px rgba(10, 76, 102, 0.8); /* Adjust values as needed */
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  width: 100%;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #0c0c0c;
  font-family: fantasy;
  font-size: 2rem;
}

.brand-pitch {
  display: flex;
  align-items: center;
  background-image: url('../img/429330971_242162718964199_418126419109675040_n.jpg'); /* Adjust the path to your image */
  background-size: cover;
  background-position: top; /* Show only the top portion of the background image */
  height: 300px; /* Adjust the height as needed */
  text-align: center;
  padding: 50px 0;
  /*position: fixed; */
  width: 100%;
  top: 70px; /* Adjust this value based on the height of the header */
}

.pitch-container {
  width: 50%; /* Set the width of the text container */
  padding: 0 20px; /* Adjust the padding as needed */
  text-align: left; /* Align text to the left */
}

.pitch-container h1,
.pitch-container p {
  text-align: left; /* Ensure both heading and paragraph text are aligned to the left */
  font-size: 1.7rem;
 

}

/*middle secton*/
section.landing {
  text-align: center;
  padding: 50px 0px 100px; /* Adjust top padding as needed */
  font-size: 1rem;
}
.landing h2{
  text-align: center;
  font-size: 2rem;
 
  /* Add shadow to simulate floating effect */
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4); /* Adjust values as needed */

}
.gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.landing_product {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  perspective: 1000px; /* Add perspective for 3D effect */
}

.landing_product img {
  width: 80%;
  border-radius: 30px;
  margin-bottom: 10px;
  transition: transform 0.5s ease; /* Add transition for smooth flipping effect */
}

.landing_product .front {
  transform-style: preserve-3d; /* Preserve the 3D transformation */
  backface-visibility: hidden; /* Hide the back face during the flip */
}

.landing_product .back {
  transform-style: preserve-3d; /* Preserve the 3D transformation */
  backface-visibility: hidden; /* Hide the back face during the flip */
  transform: rotateY(180deg); /* Initially hide the back face */
  display: none; /* Initially hide the back face */
}

.landing_product:hover .front {
  transform: rotateY(-180deg); /* Rotate the front face on hover */
  display: none; /* Hide the front face on hover */
}

.landing_product:hover .back {
  transform: rotateY(0deg); /* Rotate the back face on hover */
  display: block; /* Show the back face on hover */
}

.landing_product .front, .landing_product .back {
  /*position: fixed; /* Ensure proper positioning */
  top: 0; /* Align with the top of the container */
  left: 0; /* Align with the left of the container */
  width: 100%; /* Take up the full width of the container */
}

.landing_product h3,
.landing_product p {
  opacity: 1; /* Show the product details all the time */
  transition: opacity 0.5s ease; /* Add transition for smooth fading effect */
}





.order-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.product_gallery{
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 150px; /* Adjust top padding as needed */
}
.product {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  perspective: 1000px; /* Add perspective for 3D effect */
}

.product img {
  width: 80%;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.5s ease; /* Add transition for smooth flipping effect */
}

.product .front {
  transform-style: preserve-3d; /* Preserve the 3D transformation */
  backface-visibility: hidden; /* Hide the back face during the flip */
}

.product .back {
  transform-style: preserve-3d; /* Preserve the 3D transformation */
  backface-visibility: hidden; /* Hide the back face during the flip */
  transform: rotateY(180deg); /* Initially hide the back face */
  display: none; /* Initially hide the back face */
}

.product:hover .front {
  transform: rotateY(-180deg); /* Rotate the front face on hover */
  display: none; /* Hide the front face on hover */
}

.product:hover .back {
  transform: rotateY(0deg); /* Rotate the back face on hover */
  display: block; /* Show the back face on hover */
}

.product h3,
.product p {
  opacity: 1; /* Show the product details all the time */
  transition: opacity 0.5s ease; /* Add transition for smooth fading effect */
}



.order-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}



/*Contact page*/
.contact{
  margin: 20px;
 
}
#name, #email,#message{
  margin-bottom: 10px;
}

#submitBTN{
  width: 100px;
  height: 30px;
}